@font-face {
  font-family: 'campton';
  src: url('../fonts/campton-book-webfont.eot');
  src: url('../fonts/campton-book-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/campton-book-webfont.woff2') format('woff2'),
  url('../fonts/campton-book-webfont.woff') format('woff'),
  url('../fonts/campton-book-webfont.ttf') format('truetype'),
  url('../fonts/campton-book-webfont.svg#camptonregular') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'campton';
  src: url('../fonts/campton-bookitalic-webfont.eot');
  src: url('../fonts/campton-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/campton-bookitalic-webfont.woff2') format('woff2'),
  url('../fonts/campton-bookitalic-webfont.woff') format('woff'),
  url('../fonts/campton-bookitalic-webfont.ttf') format('truetype'),
  url('../fonts/campton-bookitalic-webfont.svg#camptonitalic') format('svg');
  font-weight: normal;
  font-style: italic;

}




@font-face {
  font-family: 'campton';
  src: url('../fonts/campton-extrabold-webfont.eot');
  src: url('../fonts/campton-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/campton-extrabold-webfont.woff2') format('woff2'),
  url('../fonts/campton-extrabold-webfont.woff') format('woff'),
  url('../fonts/campton-extrabold-webfont.ttf') format('truetype'),
  url('../fonts/campton-extrabold-webfont.svg#camptonextrabold') format('svg');
  font-weight: 800;
  font-style: normal;

}




@font-face {
  font-family: 'campton';
  src: url('../fonts/campton-extrabolditalic-webfont.eot');
  src: url('../fonts/campton-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/campton-extrabolditalic-webfont.woff2') format('woff2'),
  url('../fonts/campton-extrabolditalic-webfont.woff') format('woff'),
  url('../fonts/campton-extrabolditalic-webfont.ttf') format('truetype'),
  url('../fonts/campton-extrabolditalic-webfont.svg#camptonextrabold_italic') format('svg');
  font-weight: 800;
  font-style: italic;

}




@font-face {
  font-family: 'campton';
  src: url('../fonts/campton-semibold-webfont.eot');
  src: url('../fonts/campton-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/campton-semibold-webfont.woff2') format('woff2'),
  url('../fonts/campton-semibold-webfont.woff') format('woff'),
  url('../fonts/campton-semibold-webfont.ttf') format('truetype'),
  url('../fonts/campton-semibold-webfont.svg#camptonsemibold') format('svg');
  font-weight: 600;
  font-style: normal;

}




@font-face {
  font-family: 'campton';
  src: url('../fonts/campton-semibolditalic-webfont.eot');
  src: url('../fonts/campton-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/campton-semibolditalic-webfont.woff2') format('woff2'),
  url('../fonts/campton-semibolditalic-webfont.woff') format('woff'),
  url('../fonts/campton-semibolditalic-webfont.ttf') format('truetype'),
  url('../fonts/campton-semibolditalic-webfont.svg#camptonsemibold_italic') format('svg');
  font-weight: 600;
  font-style: italic;

}
