doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    //- link(rel='shortcut icon', href='../../docs-assets/ico/favicon.png')
    title BOLD2.0
    // Bootstrap core CSS
    //- link(href='../../dist/css/bootstrap.css', rel='stylesheet')
    // Bootstrap theme
    //- link(href='../../dist/css/bootstrap-theme.min.css', rel='stylesheet')
    // Custom styles for this template
    link(rel='stylesheet', href='styles/app.css')
    script(src='bower_components/modernizr/modernizr.js')
    // Just for debugging purposes. Don't actually copy this line!
    //if lt IE 9
      // script(src='../../docs-assets/js/ie8-responsive-file-warning.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
  body

    #mainEvent.event
      .bg(style="background-image:url(images/krakau.jpg)")
      .content
        h1 Studiereis 2016
        h2 Krakau
        time 14 t/m 18 april
    #secondEvent.event
      .content
        h1 Studiereis 2016
        h2 Krakau
        time 14 t/m 18 april
    #thirdEvent.event
      .content
        h1 Studiereis 2016
        h2 Krakau
        time 14 t/m 18 april



    // Scripts
    // ==================================================
    // Placed at the end of the document so the pages load faster
    // script(src='scripts/app.js')
    script(src='scripts/vendor.js')
    script(src='scripts/main.js')
