doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    //- link(rel='shortcut icon', href='../../docs-assets/ico/favicon.png')
    title BOLD2.0
    // Bootstrap core CSS
    //- link(href='../../dist/css/bootstrap.css', rel='stylesheet')
    // Bootstrap theme
    //- link(href='../../dist/css/bootstrap-theme.min.css', rel='stylesheet')
    // Custom styles for this template
    link(rel='stylesheet', href='styles/app.css')
    script(src='bower_components/modernizr/modernizr.js')
    // Just for debugging purposes. Don't actually copy this line!
    //if lt IE 9
      // script(src='../../docs-assets/js/ie8-responsive-file-warning.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
  body
    figure.boldHeader--logo(style="color:#8db6b8")
      include ../images/boldLogo.svg
    nav.mainNav(style="color:#8db6b8")
      a.mainNav--toggle(href="#")
        .mainNav--toggle_btn
    .mainNav--menu_wrapper
      ul.mainNav--menu_list
        li.mainNav--menu_item
          a(href="#events") Events
        li.mainNav--menu_item
          a(href="#over") Over BOLD
        li.mainNav--menu_item
          a(href="#partners") Partners
        li.mainNav--menu_item
          a(href="#contact") Contact
    .events
      #mainEvent.event(style='color:#8db6b8', data-color="#8db6b8" data-image="images/krakau-blur.jpg" data-title="Studiereis 2016" data-location="Krakau" data-date="14 t/m 18 april")
        .event--inner
          .event--inner_bg(style="background-image:url(images/krakau.jpg);color: #4f4b86;")
          .event--inner_content
            h1.title Studiereis 2016
            h2.location Krakau
            time.time 14 <small>t/m</small> april
      #secondEvent.event(style='color:#c0bddc', data-color="#c0bddc" data-image="images/bierpizza-blur.jpg" data-title="Bier & Pizza" data-location="Medialab" data-date="16 april // 18:00")
        .event--inner
          .event--inner_bg(style="background-image:url(images/kitten.jpg);color: #212744;")
          .event--inner_content
            h1.title Bier & Pizza
            h2.location Krakau
            time.time 14 <small>t/m</small> 18 april
      #thirdEvent.event(style='color:#4f4b86', data-color="#4f4b86", data-image="images/feest-blur.jpg" data-title="Bamboofeest" data-location="Walkabout" data-date="22 maart")
        .event--inner
          .event--inner_bg(style="background-image:url(images/party-kitten.jpg);color:#2c9585;")
          .event--inner_content
            h1.title Bamboofeest
            h2.location Walabout
            time.time 14 <small>t/m</small> 18 april

    // Scripts
    // ==================================================
    // Placed at the end of the document so the pages load faster
    // script(src='scripts/event.js')
    script(src='scripts/vendor.js')
    script(src='scripts/main.js')
